## Deliverable 3. Create a Travel Itinerary Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from vacation_itinerary_config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [11]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../vacation_search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Humidity,Cloudiness,Lat,Lng,Hotel Name
0,0,Ushuaia,AR,49.66,81,75,-54.8000,-68.3000,Albatross Hotel
1,10,Great Bend,US,33.62,81,0,38.3645,-98.7648,Best Western Angus Inn
2,13,Grenada,ES,48.18,77,0,37.1882,-3.6067,HOTEL REINA CRISTINA
3,30,Bjaeverskov,DK,41.68,75,11,55.4576,12.0365,Allan Lund Tyllesen
4,33,Kruszwica,PL,38.32,100,95,52.6756,18.3313,Ośrodek Szkolenia Żeglarskiego: Pole Namiotowe

In [16]:
clean_hotel_df = pd.read_csv("../vacation_search/WeatherPy_vacation.csv")
clean_hotel_df

,City_ID,City,Country,Max Temp,Humidity,Cloudiness,Lat,Lng,Hotel Name
0,0,Ushuaia,AR,49.66,81,75,-54.8000,-68.3000,Albatross Hotel
1,10,Great Bend,US,33.62,81,0,38.3645,-98.7648,Best Western Angus Inn
2,13,Grenada,ES,48.18,77,0,37.1882,-3.6067,HOTEL REINA CRISTINA
3,30,Bjaeverskov,DK,41.68,75,11,55.4576,12.0365,Allan Lund Tyllesen
4,33,Kruszwica,PL,38.32,100,95,52.6756,18.3313,Ośrodek Szkolenia Żeglarskiego: Pole Namiotowe
...,...,...,...,...,...,...,...,...,...
124,674,Berezovka,BY,33.93,98,100,53.7214,25.4993,Nad Nemanom Usad'ba
125,678,Kalaleh,IR,44.28,95,100,37.3807,55.4916,عطر و ادکلن پارسیس
126,682,Arcata,US,47.59,83,0,40.8665,-124.0828,"Hampton Inn & Suites Arcata, CA"
127,684,Muborak,UZ,48.49,37,100,39.2553,65.1528,Muborak temiryoʻl vakzali
128,686,Wajima,JP,39.09,66,96,37.4000,136.9000,Wajiima Onsen Yashio

In [18]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Peterhead']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Newport']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Scarborough']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Liverpool'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Bicester']

In [21]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode="DRIVING" or "BICYCLING" or "WALKING")
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,
                         vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Humidity,Cloudiness,Lat,Lng,Hotel Name
0,662,Peterhead,GB,42.12,80,100,57.5058,-1.7981,Palace Hotel
1,180,Scarborough,GB,38.91,84,100,54.2797,-0.4044,The Grand Hotel Scarborough
2,79,Liverpool,GB,43.83,93,100,53.4106,-2.9779,Premier Inn Liverpool City Centre (Moorfields)...
3,518,Bicester,GB,38.62,94,71,51.9000,-1.1536,Premier Inn Bicester hotel

In [24]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))